/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.logo {
    display: block;
    max-width: 150px;
    height: auto;
    position: relative;
    top: 40px;
    left: 20px;
}

/* Style the body */
body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Style the header */
header {
    background: #2C204A;
    color: white;
    padding: 20px;
}

/* Style navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#filterPrefecture {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
}

#filterPrefecture:hover {
    border-color: #888;
}

#filterPrefecture:focus {
    outline: none;
    border-color: #555;
}

/* Style main content */
main {
    min-height: 90vh;
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style the preformatted text */
pre {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    text-align: left;
    white-space: pre-wrap;
}

/* Style for my table */
.controls {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    margin-left: 10px;
    border: none;
    background-color: #2C204A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4e14d3;
}

/* Tablica */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table thead {
    background-color: #2C204A;
    color: white;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    cursor: pointer;
    user-select: none;
    padding: 10px;
}

table th span {
    margin-left: 5px;
    font-size: 14px;
}

table th span:hover {
    background-color: #4e14d3;
    padding: 10px;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #d6e9ff;
}

/* Style footer */
footer {
    background: #333;
    color: white;
    padding: 10px;
